.node-wrapper.node-decision .node-container {
	height: 30px;
	width: 30px;

	cursor: pointer;
	text-align: center;
	transform: rotate(45deg);
	background-color: #1dcad3;
	border: 3px solid white;
	outline: 3px solid #1dcad3;
	transition: transform 200ms, background-color 200ms;

	&.selected,&:hover {
		box-shadow: none;
		border: 3px solid white;
		outline: 3px solid #1dcad3;
		transform: scale(1.2, 1.2) rotate(45deg);
	}

	&.selected {
		background-color: white;
	}

	.node-drag-area {
		background-color: transparent;
		width: 100%;
		height: 100%;
	}
}
