.sidebar-wrapper {
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	left: -150px;
	top: 100px;
	height: calc(100vh - 100px);
	width: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 20px 5px;
	transition: left 200ms;

	&.open {
		left: 0px;
	}

	.sidebar-container {
		display: flex;
		flex-flow: column nowrap;
		color: white;
		font-size: 0.8em;
		height: 100%;

		.section-hed {
			text-align: center;
		}

		button,select {
			margin: 5px;
			width: calc(100% - 10px);
			border-radius: 5px;
		}

		.sidebar-section {
			&:after {
				content: "";
				display: block;
				width: 100%;
				background-color: black;
				height: 2px;
				margin: 15px 0;
			}
		}

		.separator {
			width: 100%;
			background-color: black;
			height: 2px;
			margin: 15px 0;
		}

		.sidebar-section.sidebar-bottom-section {
			width: 100%;
			margin-top: auto;

			&:after{ content: unset; }
		}
	}
}
