.node-wrapper {
	position: absolute;
	transform: translate(-50%, -50%);
	z-index: 3;

	.node-container {
		position: relative;
		z-index: 5;
		transition: box-shadow 200ms;

		&:not(.selected):hover,&:not(.selected):focus {
			box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
			outline: none;
		}

		&.selected {
			box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
		}

		.node-name,.node-text {
			border: none;
			width: 100%;
		}
	}

	.node-text {
		display: block;
		padding: 8px;
		resize: none;
		overflow: hidden;
		min-height: 60px;
		height: fit-content;

		&:active,&:hover,&:focus {
			outline: none;
		}
	}

	.node-drag-area {
		&.controlling {
			cursor: grab !important;
		}
		&.controlling.dragging {
			cursor: grabbing !important;
		}
	}
}
