.node-wrapper.node-response .node-container {
	width: fit-content;
	min-width: 200px;
	max-width: 33vw;
	border-radius: 5px;
	border: 2px solid gray;
	background-color: white;

	.node-name-span {
		background-color: gray;
		color: white;
		height: 20px;
		padding: 2px;
		width: 100%;
	}
	.node-name {
		background-color: transparent;
		width: auto;
		color: white;
	}

	.node-text {
		font-family: monospace;

		&.node-speech {
			color: black;
			background-color: #a2f2ec;
		}
		&.node-reprompt {
			color: white;
			background-color: #3f4ca3;
		}
	}

	.node-drop {
		width: 100%;
		min-height: 20px;
		text-align: center;
		padding: 8px;
		font-size: 0.5em;
	}
}
