$xs-width: 0;		// Phone
$sm-width: 600px;	// Last-Gen Tablet Portrait
$md-width: 950px;	// Next-Gen Tablet Portrait / Small Laptop
$lg-width: 1200px;	// Large Laptop / Small Desktop
$xl-width: 1800px;	// Large Desktop / TV
