.node-wrapper.node-request .node-container {
	border-radius: 50%;
	background-color: #66fd64;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;

	.node-name {
		padding: 2px;
		width: 100%;
		background-color: transparent;
		color: black;
		text-align: center;
	}
}
