.node-wrapper.node-comment .node-container {
	background-color: rgba(0,0,0,0.2);
	color: black;
	width: fit-content;
	min-width: 200px;
	max-width: 33vw;
	border-radius: 5px;
	border: 2px solid rgba(0,0,0,0.6);

	.node-text {
		font-family: monospace;
		border: none;
		border-radius: none;
		background-color: transparent;

		&.node-message {
			color: white;
		}
	}
}
