.edge-wrapper {
	position: absolute;
    left: 0;
	top: 0;
    z-index: -1;

	input.edge-label {
		position: absolute;
		background-color: transparent;
		border: none;
		width: 150px;
		left: 10px;
	}
}
