.navbar.tab-nav {
	justify-content: flex-start;

	a.tab {
		padding: 15px;
		height: 80%;

		&.open { color: white; }
	}
}

.tabbed-page-wrapper {
	position: relative;
	width: 100vw;
	height: calc(100vh - 100px);

	.tab-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-height: 100%;
		overflow: hidden;
		display: none;

		&.open {
			display: block;
		}

		.graph-drag-area {
			&.controlling {
				cursor: grab;
			}
			&.controlling.dragging {
				cursor: grabbing;
			}
		}
	}
}
